.prev{
	position:absolute;
	cursor:pointer;
	transform: translate(-50%, -50%);
	top:50%;
	left:30%;
	font-size:5vw;
}
.prev:hover{
	animation:left 1s infinite;
}
.next{
	position:absolute;
	cursor:pointer;
	transform: translate(-50%, -50%);
	top:50%;
	left:70%;
	font-size:5vw;
}
.next:hover{
	animation:right 1s infinite;
}

@keyframes left{
	0%{
		left:30%
	}
	50%{
		left:29%
	}
	100%{
		left:30%;		
	}
}

@keyframes right{
	0%{
		left:70%
	}
	50%{
		left:71%
	}
	100%{
		left:70%;		
	}
}