.form{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
	font-size:1vw;
	margin-top:5vw;
}
.pause{
	cursor:pointer;
}
.replay{
	cursor:pointer;
}
.play{
	cursor:pointer;
	font-size:3vw;
}